.hero_section {
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.hero_section .naslov {
    width: auto;
    padding-top: 40px;
}


.hero_section .naslov h1 {
    font-size: 40px;
    color: rgb(21, 143, 237);
}


.hero_section .naslov p {
    font-size: 20px;
    color: #262626b4;
    font-weight: bold;
}

.hero_section .box {
    display: grid;
    padding-bottom: 80px;
    grid-template-columns: repeat(1, 1fr);


    /* grid-template-columns: repeat(3, 1fr); */
}


.hero_section .box .hero_section_item {
    background-color: #ffffff;
    padding: 70px;
    border-radius: 24px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    animation: item 2s linear forwards;
}

@keyframes item {
    0% {
        transform: translateY(30rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 2;
    }

}




.hero_section .box .hero_section_item:hover {
    background-color: #a0cbddfa;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;

}

.hero_section .box .hero_section_item h1 {
    font-size: 30px;
    color: rgb(21, 143, 237);
    padding-bottom: 20px;
}

.hero_section .box .hero_section_item span {
    font-size: 30px;
    color: rgb(21, 143, 237);
    font-weight: bold;
}

.hero_section .box .hero_section_item ul {
    list-style: none;
    padding: 20px;
    text-align: center;
}

.hero_section .box .hero_section_item ul li {
    margin-top: 16px;
    font-size: 20px;
    color: rgb(128, 122, 122);
}

.hero_section .box .hero_section_item a {
    background: linear-gradient(to bottom, #599bb3 5%, #1ac0d9 100%);
    background-color: #599bb3;
    border-radius: 28px;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 10px 41px;
    text-decoration: none;
    text-shadow: 3px 0px 0px #3d768a;
}

.hero_section .box .hero_section_item a:hover {
    background: linear-gradient(to bottom, #1ac0d9 5%, #599bb3 100%);
    background-color: #1ac0d9;
}

.hero_section .box .hero_section_item a:active {
    position: relative;
    top: 1px;
}




@media (max-width: 750px) {
    .hero_section .box {
        grid-template-columns: repeat(1, 1fr);

        /* 
        grid-template-columns: repeat(2, 1fr);
 */
    }
}

@media (max-width: 300px) {
    .hero_section .box {
        grid-template-columns: repeat(1, 0.8fr);
    }
}

@media (max-width: 320px) {
    .hero_section .box .hero_section_item {
        padding: 30px;
    }
}